/*
*    Colors definition
*/

bg-body                = red

bg-module            = rgb(255, 255, 255)
bg-module-header    = rgb(255, 0, 0)
bg-module-footer    = rgb(0, 0, 255)


link-color = desaturate(lighten(blue, 50%), 60%)

